<%-include('head/head')%>

  <div class="row">
    <a href="manage/index" style="position: fixed;right: 0; top: 0;" target="blank">
      后台
    </a>
    <div class="leftcolumn">
      <%categories.forEach((item)=>{%>
        <div class="card">
          <h2>
            <%=item.description%>
          </h2>
          <h5>
            <%=item.created_at%>
          </h5>
          <div class="fakeimg">
            <a href="products/<%=item.id%>" target="blankd">
              <img src="uploads/<%=item.href%>" />
            </a>
          </div>
        </div>
        <%});%>

    </div>

    <div class="rightcolumn">
      <div class="card">
        <%-about%>
      </div>
      <div class="card">
        <%-about_content%>
      </div>
      <div class="card">
        <%-flowme%>
      </div>
      <div class="card">
        <%-flowme_content%>
      </div>


    </div>
 </div>

<%-include('foot/foot.ejs')%>
</body>


<style>

  
  /* 创建两个不相等的彼此并排的浮动列 */
  /* 左列 */
  .leftcolumn {
    width: 600px;
    background-color: #f1f1f1;
    padding-left: 5px;
  }

  /* 右列 */
  .rightcolumn {
    flex-grow: 1;

    background-color: #f1f1f1;
    padding-left: 5px;
  }

  /* 伪图像 */
  .fakeimg {
    background-color: #f1f1f1;
    width: 100%;
    padding: 2px;
  }

  /* 为文章添加卡片效果 */
  .card {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
  }

  .row {
    display: flex;
  }

  
  /* 响应式布局 - 当屏幕的宽度小于 800 像素时，使两列堆叠而不是并排 */
  @media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: fill;
    }

    .row {
      display: flex;
      flex-direction: column;
    }



  }


  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
</style>

</html>