<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%=category[0].category%></title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .container {
                  background-color: :rgb(191, 238, 222);
                  padding: 20px;
                  display: grid;
                  grid-template-columns:repeat(3,1fr);
                  gap: 10px;

                }
        .page {
              width: 100%;
            }

        img {
        object-fit: fill;
        height:200px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .oneproduct {
        border: 1px solid burlywood;
      }

      @media screen and (max-width: 800px) {
        .container {
                  background-color: :rgb(191, 238, 222);
                  padding: 20px;
                  display: grid;
                  grid-template-columns:repeat(1,1fr);
                  gap: 10px;

                }
      }
    </style>
  </head>
  <body>
    <div class="page">
      <strong><center><p><%=category[0].category%></p></center></strong>
      <strong><center><p><%=category[0].description%></p></center></strong>
      <div class="container">
        <%products.forEach(item=>{%>
        <div class="oneproduct">
          <div><a href="/uploads/<%=item.href%>" target="_blank"><img src="/uploads/<%=item.href%>" /></a></div>
          <div>
            <p><%=item.product%></p>
            <p><%=item.description%></p>

          </div>
        </div>

        <%})%>
      </div>
    </div>
  </body>
</html>
